### PANDAS
    
    Panel data analysis software

In [7]:
import numpy as np

In [8]:
import pandas as pd

### Series

In [18]:
l1=[12,23,43,45,58,98,56,75,49,89]        #here default insex no o to n
ser1=pd.Series(l1)
ser1

0    12
1    23
2    43
3    45
4    58
5    98
6    56
7    75
8    49
9    89
dtype: int64

In [19]:
type(ser1)

pandas.core.series.Series

#### Extraction

__using traditional method [index:]__

In [21]:
ser1

0    12
1    23
2    43
3    45
4    58
5    98
6    56
7    75
8    49
9    89
dtype: int64

In [22]:
ser1[5]

98

In [26]:
ser1=pd.Series([12,23,43,45,58,98,75,49,89],index=[11,22,33,44,55,66,77,88,99])    ##User Defined index

In [25]:
print(ser1)

11    12
22    23
33    43
44    45
55    58
66    98
77    75
88    49
99    89
dtype: int64

In [28]:
ser2=pd.Series([12,23,43,45,58,98,75,49,89],index=['A','B','C','D','E','F','G','H','I'])

In [29]:
ser2

A    12
B    23
C    43
D    45
E    58
F    98
G    75
H    49
I    89
dtype: int64

In [30]:
abc='ABCDEFGHI'
abc

'ABCDEFGHI'

In [31]:
list(abc)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [37]:
ser3=pd.Series([12,23,43,45,58,98,75,49,89],index=list(abc))

In [38]:
ser3

A    12
B    23
C    43
D    45
E    58
F    98
G    75
H    49
I    89
dtype: int64

In [39]:
ser4=pd.Series([12,23,43,45,58,98,75,49,89],index=[11,22,33,44,55,66,77,88,99])

In [40]:
list(range(11,20))

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [43]:
ser5=pd.Series([12,23,43,45,58,98,75,49,89],index=list(range(11,20)))

In [44]:
ser5

11    12
12    23
13    43
14    45
15    58
16    98
17    75
18    49
19    89
dtype: int64

#### .loc      ---> index location  --> used to extract elements based on USER DEFINED INDEX

#### .iloc     ---> index internal location  --> used to extract elements based on DEFAULT INDEX

+ .iloc
	+ objname.iloc[default_index_number]
	+ Extraction Rules are same 
        + upper bound exclusive
        + starts from 0 etc

In [52]:
ser4

11    12
22    23
33    43
44    45
55    58
66    98
77    75
88    49
99    89
dtype: int64

In [53]:
ser4.iloc[0]

12

In [54]:
ser4.iloc[1:5]

22    23
33    43
44    45
55    58
dtype: int64

+ .loc
	+ objname.loc[user_index_number]
	+ Extraction Rules are different
		+ upper bound inclusive
		+ sarts from user defined index

In [56]:
ser4.loc[11]

12

In [57]:
ser4.loc[22:66]

22    23
33    43
44    45
55    58
66    98
dtype: int64

In [58]:
ser2

A    12
B    23
C    43
D    45
E    58
F    98
G    75
H    49
I    89
dtype: int64

In [61]:
ser6=ser2.reset_index()
ser6

  index   0
0     A  12
1     B  23
2     C  43
3     D  45
4     E  58
5     F  98
6     G  75
7     H  49
8     I  89

In [62]:
type(ser6)

pandas.core.frame.DataFrame

In [65]:
ser7=ser2.reset_index(drop=True)
ser7

0    12
1    23
2    43
3    45
4    58
5    98
6    75
7    49
8    89
dtype: int64

In [66]:
type(ser7)

pandas.core.series.Series

In [69]:
Income_levels=ser7[(ser7>34) & (ser7<88)]
Income_levels

2    43
3    45
4    58
6    75
7    49
dtype: int64

In [71]:
#Output will have the old index number and here again reset_index(drop=True) can be used

Income_levels.reset_index(drop=True)

0    43
1    45
2    58
3    75
4    49
dtype: int64

+ By Default
	+  User Name index = Default pre-defined index

In [74]:
ser99=pd.Series([1234,44,56,778,99,543,666,8899])
ser99

0    1234
1      44
2      56
3     778
4      99
5     543
6     666
7    8899
dtype: int64

In [75]:
ser99.iloc[0]

1234

In [76]:
ser99.loc[0]

1234

In [77]:
ser11=pd.Series([-1,1,-2,1,0,1,0,-1,0,1])
ser11

0   -1
1    1
2   -2
3    1
4    0
5    1
6    0
7   -1
8    0
9    1
dtype: int64

In [78]:
arr11=np.array([-1,1,-2,1,0,1,0,-1,0,1])
arr11

array([-1,  1, -2,  1,  0,  1,  0, -1,  0,  1])

In [79]:
np.where(arr11>0,'pos','neg')

array(['neg', 'pos', 'neg', 'pos', 'neg', 'pos', 'neg', 'neg', 'neg',
       'pos'], dtype='<U3')

In [80]:
np.where(ser11>0,'pos','neg')

array(['neg', 'pos', 'neg', 'pos', 'neg', 'pos', 'neg', 'neg', 'neg',
       'pos'], dtype='<U3')

In [81]:
out1=np.where(arr11>0,'pos','neg')
type(out1)

numpy.ndarray

In [83]:
out2=np.where(ser11>0,'pos','neg')
type(out2)

numpy.ndarray

In [88]:
out3=pd.Series(out2)
type(out3)

pandas.core.series.Series

In [92]:
out4=pd.Series(np.where(ser11>0,'pos','neg'))
out4

0    neg
1    pos
2    neg
3    pos
4    neg
5    pos
6    neg
7    neg
8    neg
9    pos
dtype: object

## Data Frame

+ nothing but a collection of series (heterogeneous)

In [94]:
dict_1={'col1':['a','b','c','d'], 'col2':[12,34,56,89],'col3':[12.45,67.43,78.55,67.33]}
dict_1

{'col1': ['a', 'b', 'c', 'd'],
 'col2': [12, 34, 56, 89],
 'col3': [12.45, 67.43, 78.55, 67.33]}

In [95]:
pd.DataFrame(dict_1)

  col1  col2   col3
0    a    12  12.45
1    b    34  67.43
2    c    56  78.55
3    d    89  67.33

In [103]:
column1=pd.Series(['a','b','c','d'],name='col1')

In [104]:
column2=pd.Series([12,34,56,89],name='col2')

In [105]:
column3=pd.Series([12.45,67.43,78.55,67.33],name='col3')

In [106]:
table_ser=pd.concat([column1,column2,column3])   #it is in series format
table_ser

0        a
1        b
2        c
3        d
0       12
1       34
2       56
3       89
0    12.45
1    67.43
2    78.55
3    67.33
dtype: object

In [108]:
table_ser=pd.concat([column1,column2,column3],axis=1)    #it is in table format
table_ser                                                #axis=1 for horizontal combine
                                                         #axis=0 fror vertically combine

  col1  col2   col3
0    a    12  12.45
1    b    34  67.43
2    c    56  78.55
3    d    89  67.33

### importing file

(1) excel file

In [109]:
?pd.read_excel

In [116]:
pd.read_excel('A:\Analytix\cochng\Class_4\Class_4\Datasets/CarData.xlsx',sheet_name='CarNames')

,CarName,Type,MPGcity,MPGhighway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,...,Passengers,Length,Wheelbase,Width,Turncircle,Rearseatroom,Luggageroom,Weight,Origin,Make
0,"Chevrolet,Cavalier",Compact,25,36,None,Front,4,2.2,110,5200,...,5,182,101,66,38,25.0,13.0,2490,USA,Chevrolet Cavalier
1,"Chevrolet,Corsica",Compact,25,34,Driver only,Front,4,2.2,110,5200,...,5,184,103,68,39,26.0,14.0,2785,USA,Chevrolet Corsica
2,"Chevrolet,Camaro",Sporty,19,28,Driver & Passenger,Rear,6,3.4,160,4600,...,4,193,101,74,43,25.0,13.0,3240,USA,Chevrolet Camaro
3,"Chevrolet,Lumina",Midsize,21,29,None,Front,4,2.2,110,5200,...,6,198,108,71,40,28.5,16.0,3195,USA,Chevrolet Lumina
4,"Chevrolet,Lumina_APV",Van,18,23,None,Front,6,3.8,170,4800,...,7,178,110,74,44,30.5,NaN,3715,USA,Chevrolet Lumina_APV
5,"Chevrolet,Astro",Van,15,20,None,4WD,6,4.3,165,4000,...,8,194,111,78,42,33.5,NaN,4025,USA,Chevrolet Astro
6,"Chevrolet,Caprice",Large,17,26,Driver only,Rear,8,5.0,170,4200,...,6,214,116,77,42,29.5,20.0,3910,USA,Chevrolet Caprice
7,"Chevrolet,Corvette",Sporty,17,25,Driver only,Rear,8,5.7,300,5000,...,2,179,96,74,43,NaN,NaN,3380,USA,Chevrolet Corvette
8,"Ford,Festiva",Small,31,33,None,Front,4,1.3,63,5000,...,4,141,90,63,33,26.0,12.0,1845,USA,Ford Festiva
9,"Ford,Escort",Small,23,30,None,Front,4,1.8,127,6500,...,5,171,98,67,36,28.0,12.0,2530,USA,Ford Escort
10,"Ford,Tempo",Compact,22,27,None,Front,4,2.3,96,4200,...,5,177,100,68,39,27.5,13.0,2690,USA,Ford Tempo
11,"Ford,Mustang",Sporty,22,29,Driver only,Rear,4,2.3,105,4600,...,4,180,101,68,40,24.0,12.0,2850,USA,Ford Mustang
12,"Ford,Probe",Sporty,24,30,Driver only,Front,4,2.0,115,5500,...,4,179,103,70,38,23.0,18.0,2710,USA,Ford Probe
13,"Ford,Aerostar",Van,15,20,Driver only,4WD,6,3.0,145,4800,...,7,176,119,72,45,30.0,NaN,3735,USA,Ford Aerostar
14,"Ford,Taurus",Midsize,21,30,Driver only,Front,6,3.0,140,4800,...,5,192,106,71,40,27.5,18.0,3325,USA,Ford Taurus
15,"Ford,Crown_Victoria",Large,18,26,Driver only,Rear,8,4.6,190,4200,...,6,212,114,78,43,30.0,21.0,3950,USA,Ford Crown_Victoria

In [117]:
pd.read_excel('A:\Analytix\cochng\Class_4\Class_4\Datasets/CarData.xlsx',sheet_name=2)

,CarName,Type,MPGcity,MPGhighway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,...,Passengers,Length,Wheelbase,Width,Turncircle,Rearseatroom,Luggageroom,Weight,Origin,Make
0,"Chevrolet,Cavalier",Compact,25,36,None,Front,4,2.2,110,5200,...,5,182,101,66,38,25.0,13.0,2490,USA,Chevrolet Cavalier
1,"Chevrolet,Corsica",Compact,25,34,Driver only,Front,4,2.2,110,5200,...,5,184,103,68,39,26.0,14.0,2785,USA,Chevrolet Corsica
2,"Chevrolet,Camaro",Sporty,19,28,Driver & Passenger,Rear,6,3.4,160,4600,...,4,193,101,74,43,25.0,13.0,3240,USA,Chevrolet Camaro
3,"Chevrolet,Lumina",Midsize,21,29,None,Front,4,2.2,110,5200,...,6,198,108,71,40,28.5,16.0,3195,USA,Chevrolet Lumina
4,"Chevrolet,Lumina_APV",Van,18,23,None,Front,6,3.8,170,4800,...,7,178,110,74,44,30.5,NaN,3715,USA,Chevrolet Lumina_APV
5,"Chevrolet,Astro",Van,15,20,None,4WD,6,4.3,165,4000,...,8,194,111,78,42,33.5,NaN,4025,USA,Chevrolet Astro
6,"Chevrolet,Caprice",Large,17,26,Driver only,Rear,8,5.0,170,4200,...,6,214,116,77,42,29.5,20.0,3910,USA,Chevrolet Caprice
7,"Chevrolet,Corvette",Sporty,17,25,Driver only,Rear,8,5.7,300,5000,...,2,179,96,74,43,NaN,NaN,3380,USA,Chevrolet Corvette
8,"Ford,Festiva",Small,31,33,None,Front,4,1.3,63,5000,...,4,141,90,63,33,26.0,12.0,1845,USA,Ford Festiva
9,"Ford,Escort",Small,23,30,None,Front,4,1.8,127,6500,...,5,171,98,67,36,28.0,12.0,2530,USA,Ford Escort
10,"Ford,Tempo",Compact,22,27,None,Front,4,2.3,96,4200,...,5,177,100,68,39,27.5,13.0,2690,USA,Ford Tempo
11,"Ford,Mustang",Sporty,22,29,Driver only,Rear,4,2.3,105,4600,...,4,180,101,68,40,24.0,12.0,2850,USA,Ford Mustang
12,"Ford,Probe",Sporty,24,30,Driver only,Front,4,2.0,115,5500,...,4,179,103,70,38,23.0,18.0,2710,USA,Ford Probe
13,"Ford,Aerostar",Van,15,20,Driver only,4WD,6,3.0,145,4800,...,7,176,119,72,45,30.0,NaN,3735,USA,Ford Aerostar
14,"Ford,Taurus",Midsize,21,30,Driver only,Front,6,3.0,140,4800,...,5,192,106,71,40,27.5,18.0,3325,USA,Ford Taurus
15,"Ford,Crown_Victoria",Large,18,26,Driver only,Rear,8,4.6,190,4200,...,6,212,114,78,43,30.0,21.0,3950,USA,Ford Crown_Victoria

(2) table

In [122]:
pd.read_table('A:\Analytix\cochng\Class_4\Class_4\Datasets/Data_txt.txt')

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

         Type  gender   id  session  schtyp  level
0     general       0   70        4       1      1
1  vocational       1  121        4       2      1
2     general       0   86        4       3      1
3  vocational       0  141        4       3      1
4    academic       0  172        4       2      1
5    academic       0  113        4       2      1
6     general       0   50        3       2      1
7    academic       0   11        1       2      1

In [123]:
pd.read_table('A:\Analytix\cochng\Class_4\Class_4\Datasets/Data_txt.txt',sep='\t')

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

         Type  gender   id  session  schtyp  level
0     general       0   70        4       1      1
1  vocational       1  121        4       2      1
2     general       0   86        4       3      1
3  vocational       0  141        4       3      1
4    academic       0  172        4       2      1
5    academic       0  113        4       2      1
6     general       0   50        3       2      1
7    academic       0   11        1       2      1

In [125]:
pd.read_csv('A:\Analytix\cochng\Class_4\Class_4\Datasets/Data_txt.txt',sep='\t')

         Type  gender   id  session  schtyp  level
0     general       0   70        4       1      1
1  vocational       1  121        4       2      1
2     general       0   86        4       3      1
3  vocational       0  141        4       3      1
4    academic       0  172        4       2      1
5    academic       0  113        4       2      1
6     general       0   50        3       2      1
7    academic       0   11        1       2      1

In [127]:
pd.read_table('A:\Analytix\cochng\Class_4\Class_4\Datasets/stores.csv',sep=',')

C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

In [129]:
pd.read_csv('A:\Analytix\cochng\Class_4\Class_4\Datasets/stores.csv')

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

### SAS file

In [130]:
pd.read_sas('A:\Analytix\cochng\Class_4\Class_4\Datasets\stores.sas7bdat')

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Own_Store,OnlinePresence,Tenure,StoreSegment
0,b'STR101',b'Electronics Zone',b'Electronincs',b'Delhi',21.0,60.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,b'STR102',b'Apparel Zone',b'Apparel',b'Delhi',21.0,60.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,b'STR103',b'Super Bazar',b'Super Market',b'Delhi',22.8,40.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,b'STR104',b'Super Market',b'Super Market',b'Delhi',21.4,60.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,b'STR105',b'Central Store',b'Super Market',b'Delhi',18.7,80.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,b'STR106',b'Apparel Zone',b'Apparel',b'Delhi',18.1,60.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,b'STR107',b'Fashion Bazar',b'Apparel',b'Delhi',14.3,80.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,b'STR108',b'Digital Bazar',b'Electronincs',b'Delhi',24.4,40.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,b'STR109',b'Electronics Zone',b'Electronincs',b'Chennai',22.8,40.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,b'STR110',b'Apparel Zone',b'Apparel',b'Chennai',19.2,60.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,b'STR111',b'Super Bazar',b'Super Market',b'Chennai',17.8,60.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,b'STR112',b'Super Market',b'Super Market',b'Chennai',16.4,80.0,275.8,180.0,NaN,4.070,17.40,0.0,0.0,3.0,3.0
12,b'STR113',b'Central Store',b'Super Market',b'Chennai',17.3,80.0,275.8,180.0,NaN,3.730,17.60,0.0,0.0,3.0,3.0
13,b'STR114',b'Apparel Zone',b'Apparel',b'Chennai',15.2,80.0,275.8,180.0,NaN,3.780,18.00,0.0,0.0,3.0,3.0
14,b'STR115',b'Fashion Bazar',b'Apparel',b'Chennai',10.4,80.0,472.0,205.0,2.93,5.250,17.98,0.0,0.0,3.0,4.0
15,b'STR116',b'Digital Bazar',b'Electronincs',b'Chennai',10.4,80.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4.0
16,b'STR117',b'Electronics Zone',b'Electronincs',b'Mumbai',14.7,80.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
17,b'STR118',b'Apparel Zone',b'Apparel',b'Mumbai',32.4,40.0,78.7,66.0,4.08,2.200,19.47,1.0,1.0,4.0,1.0
18,b'STR119',b'Super Bazar',b'Super Market',b'Mumbai',30.4,40.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4.0,2.0
19,b'STR120',b'Super Market',b'Super Market',b'Mumbai',33.9,40.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4.0,1.0
20,b'STR121',b'Central Store',b'Super Market',b'Mumbai',21.5,40.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1.0
21,b'STR122',b'Apparel Zone',b'Apparel',b'Mumbai',15.5,80.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2.0
22,b'STR123',b'Fashion Bazar',b'Apparel',b'Mumbai',15.2,80.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2.0
23,b'STR124',b'Digital Bazar',b'Electronincs',b'Mumbai',13.3,80.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4.0
24,b'STR125',b'Electronics Zone',b'Electronincs',b'Kolkata',19.2,80.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,b'STR126',b'Apparel Zone',b'Apparel',b'Kolkata',27.3,40.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,b'STR127',b'Super Bazar',b'Super Market',b'Kolkata',26.0,40.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2.0
27,b'STR128',b'Super Market',b'Super Market',b'Kolkata',30.4,40.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,b'STR129',b'Central Store',b'Super Market',b'Kolkata',15.8,80.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,b'STR130',b'Apparel Zone',b'Apparel',b'Kolkata',19.7,60.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,4.0
30,b'STR131',b'Fashion Bazar',b'Apparel',b'Kolkata',15.0,80.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,4.0
31,b'STR132',b'Digital Bazar',b'Electronincs',b'Kolkata',21.4,40.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [131]:
pd.read_sas('A:\Analytix\cochng\Class_4\Class_4\Datasets\stores.sas7bdat',encoding='UTF8')

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Own_Store,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,STR103,Super Bazar,Super Market,Delhi,22.8,40.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,STR104,Super Market,Super Market,Delhi,21.4,60.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,STR105,Central Store,Super Market,Delhi,18.7,80.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,STR111,Super Bazar,Super Market,Chennai,17.8,60.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,STR112,Super Market,Super Market,Chennai,16.4,80.0,275.8,180.0,NaN,4.070,17.40,0.0,0.0,3.0,3.0
12,STR113,Central Store,Super Market,Chennai,17.3,80.0,275.8,180.0,NaN,3.730,17.60,0.0,0.0,3.0,3.0
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80.0,275.8,180.0,NaN,3.780,18.00,0.0,0.0,3.0,3.0
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80.0,472.0,205.0,2.93,5.250,17.98,0.0,0.0,3.0,4.0
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4.0
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40.0,78.7,66.0,4.08,2.200,19.47,1.0,1.0,4.0,1.0
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4.0,2.0
19,STR120,Super Market,Super Market,Mumbai,33.9,40.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4.0,1.0
20,STR121,Central Store,Super Market,Mumbai,21.5,40.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1.0
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2.0
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2.0
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4.0
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2.0
27,STR128,Super Market,Super Market,Kolkata,30.4,40.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,STR129,Central Store,Super Market,Kolkata,15.8,80.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,4.0
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,4.0
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0